<div class="bg-neg fnt-neg pd-15" style="text-align: left;">
    <p>
        <strong><u>Deadlines</u></strong>
    </p>
    <p>
        All the predictions and their changes must be made before the kickoff time of the respective match.
    </p>
    <p>
        <strong>NOTE: </strong>
        You can change your predictions any number of times before the kickoff. Only the last saved prediction will be considered for the scoring.
    </p>
    <p>
        <strong><u>Scoring</u></strong>
    </p>
    <p>
        You will be allocated points based on –
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="623" colspan="2">
                    <p>
                        <strong>Full Time Prediction</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Predicting the Correct Match Result<strong><u></u></strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        30 * Correct Result Factor<strong><u></u></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Predicting the Exact Scoreline
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        100 % Bonus of the Correct Match Result
                    </p>
                </td>
            </tr>
            <tr>
                <td width="623" colspan="2">
                    <p>
                        <strong>Closer to Actual Goal Prediction </strong>
                        (Only if you have predicted the Correct Result)<strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Goal Difference of 1
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        25% of Correct Result Points
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Goal Difference of 2
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        12.5% of Correct Result Points
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Goal Difference of 3
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        6.25 % of Correct Result Points
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Goal Difference of 4
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        3.175% of Correct Result Points
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        And so on...
                    </p>
                </td>
                <td width="312" valign="top">
                </td>
            </tr>
            <tr>
                <td width="623" colspan="2">
                    <p>
                        <strong>Half Time Prediction</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Predicting the Correct Half Time Result
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        15 * HT Correct Result Factor
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                    <p>
                        Predicting the Exact Half Time Scoreline
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        100 % Bonus of the Correct Half Time Result
                    </p>
                </td>
            </tr>
            <tr>
                <td width="312" valign="top">
                </td>
                <td width="312" valign="top">
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong><u>Calculation of Factor Scores-</u></strong>
    </p>
    <p>
        We have incorporated a Factor Score system to make the scoring more dynamic and interesting. The Factor Scores are designed such that you get more points
        if you are accompanied by less people for predicting the same correct outcome. The Factor Scores are calculated based on the following statistics:

    </p>
    <p>
        1) Correct Full Time Result Factor = 1/ √( Percentage of participants predicting the correct result at Full Time )
    </p>
    <p>
        Following the same principle,
    </p>
    <p>
    <UL>
        <LI>    If all the participants correctly predict Team A to win, everyone gets 30 Points.
            </p>
            <p>
        <LI>    If 50% of the participants correctly predict Team A to win, the 50% gets 42.4 points each.
            </p>
            <p>
        <LI>  If 20% of the participants correctly predict Team A to win, the 20% gets 67.1 points each.
            </p>
            <p>
    </UL>
    2) Correct Half Time Result Factor = 1/ √(Percentage of participants predicting the correct result at Full Time )
</p>
</div>