<div>
    <img src="/assets/img/home_page_1.jpg" class="hp-bg">
    <div class="hp-htp">
            <p>
                <strong><u>How to Join the Game?</u></strong>
            </p>
            <p>
                1) You can Login/Signup with your email ID.
            </p>
            <p>
                2) You can also log in through your Facebook account.
            </p>
            <p>
                <strong><u></u></strong>
            </p>
            <p>
                <strong><u>Predict now!</u></strong>
            </p>
            <p>
                Click the “Predict Now” button for the matches you want to predict and give your predictions on:
            </p>
            <p>
                -Full Time Scoreline
            </p>
            <p>
                -Half Time Scoreline
            </p>
            <p>
                Note that the more matches you predict, the more points you make. So don’t miss out.
            </p>
            <p>
                <strong><u></u></strong>
            </p>    
    </div>
</div>