<div>
    <img src="http://static.playpredictopus.com/assets/img/home_page_1.jpg?version=2" class="hp-bg">
    <div class="hp-htp">
        <p>Watching the FIFA World Cup closely? Know the teams through and through? Believe you can push the boundaries of prediction Paul the Octopus reached? Right here is the perfect way to test your predictions and compete with thousands of others! It’s time to unleash the Predictopus within!</p>       
        <p>
            <strong><u>Predict now!</u></strong>
        </p>
        <p>
            Click the “Predict Now” button for the matches you want to predict and give your predictions on:
        </p>
        <p>
            -Full Time Scoreline
        </p>
        <p>
            -Half Time Scoreline 
        </p>        
        <p>
            <strong><u>The more matches you predict, the more points you make. So don’t miss out.</u></strong>
            <a href='/world-cup'>Start Predicting</a>
        </p>         
        <div class="fb-like" data-href="https://www.facebook.com/predictopus" data-layout="box_count" data-action="like" data-show-faces="false" data-colorscheme="light"></div>
        <div class="fb-share-button" data-href="https://www.playpredictopus.com" data-type="button_count"></div>
    </div>
    <div class="hp-lgn" id='hp-lgn'>
        <span>Login here</span>
    </div>
    <a href="/world-cup">
        <div class="hp-lgn lgo">
            <span>Start Predicting</span>
        </div>
    </a>

</div>