pa
<ul>
    {{#fixtures}}
    <li class='fx-stage'>
        <div class='fx-title-gm pdh-15 bg mod-title'>{{title}} - {{dispStartDate}} {{#dispEndDate}} to {{dispEndDate}} {{/dispEndDate}}</div>
        <ul>
            {{#games}}
            <li class='fx-game fnt-neg bg-neg col-sm-12'>
                <a href='/world-cup/game/{{id}}' class='fnt-neg'>
                    <div class="row fx-game-int">
                        <div class='col-xs-12 col-sm-1 fx-time'>{{timeDisp}}</div>
                        <div class='col-xs-12 col-sm-7 fx-teams'>
                            <div class='col-xs-6'>
                                <i class='flag {{team1Code}}'></i>{{{team1Name}}}
                            </div>
                            <div class='col-xs-6'>
                                <i class='flag {{team2Code}}'></i>{{{team2Name}}}  
                            </div>
                        </div>
                        <div class='col-xs-6 col-sm-2 fx-venue'>
                            <span>{{{groundTitle}}}</span>
                        </div>
                        <div class='col-xs-6 col-sm-2 fx-actions'>
                            <button type="button" class="btn {{#p}}btn-success{{/p}} {{^p}}btn-info{{/p}} btn-xs {{#p}}{{#processed}}hidden{{/processed}}{{/p}}">{{#p}}Edit Prediction!{{/p}}{{^p}}Predict Now!{{/p}}</button>
                            {{#p}}{{#processed}}
                            <span class='btn btn-default btn-xs'>Match over</span>
                            {{/processed}}{{/p}}
                        </div>
                    </div>
                    {{#p}}{{#prediction}}
                    <div class="label label-success col-sm-offset-1">
                        Your Predictions - Half Time: {{hScore1}}-{{hScore2}} Full Time: {{fScore1}}-{{fScore2}}
                    </div>
                    {{#processed}}
                    <span class='label label-primary'>{{points}} Points</span>
                    {{/processed}}
                    {{/prediction}}
                    {{/p}}
                </a>
            </li>
            {{/games}}
        </ul>

    </li>
    {{/fixtures}}
</ul>