<ul>
    {{#fixtures}}
    <li class='fx-stage'>
        <div class='fx-title-gm pdh-15 bg mod-title'>{{title}} - {{dispStartDate}} {{#dispEndDate}} to {{dispEndDate}} {{/dispEndDate}}</div>
        <ul>
            {{#games}}
            {{>matchSummary}}
            {{/games}}
        </ul>
    </li>
    {{/fixtures}}
</ul>