{{#game}}
<h1 class='fx-title-gm pdh-15 bg mod-title'>Predict results - {{date}} - {{{team1Name}}} vs {{{team2Name}}}</h1>
<div class='bg-neg fnt-neg of-hid pd-15'>
    <div class='col-md-6 text-mid pd-0'>
        <img class='pn-badge' src='http://static.playpredictopus.com/assets/img/badges/{{team1Code}}.png'>
        <h2 class='fnt-h2'>{{{team1Name}}}</h2>
    </div>
    <div class='col-md-6 text-mid pd-0'>
        <div class='pn-versus fnt-h2'>vs</div>
        <img class='pn-badge' src='http://static.playpredictopus.com/assets/img/badges/{{team2Code}}.png'>
        <h2 class='fnt-h2'>{{{team2Name}}}</h2>
    </div>
    <script>
        var team1 = '{{{team1Name}}}', team2 = '{{{team2Name}}}';
    </script>

    <div class='col-md-12 text-mid pn-tools'>Your Prediction</div>
    <div class='col-md-12 text-mid pn-tools'>             
        <div class="input-group pn-toolrow    {{#p}}{{#processed}}hidden{{/processed}}{{/p}}">
            <input id='hScore1' {{#timeover}}disabled{{/timeover}} type="number" value="{{#p}}{{#prediction}}{{hScore1}}{{/prediction}}{{/p}}" class="form-control text-mid" min="0" max="15" placeholder="Half time goals for {{{team1Name}}} (optional)">
            <span class="input-group-addon">-</span>
            <input id='hScore2' {{#timeover}}disabled{{/timeover}} type="number" value="{{#p}}{{#prediction}}{{hScore2}}{{/prediction}}{{/p}}" class="form-control text-mid" min="0" max="15" placeholder="Half time goals for {{{team2Name}}} (optional)">
        </div>
        <div class="input-group pn-toolrow {{#p}}{{#processed}}hidden{{/processed}}{{/p}}">
            <input id='fScore1' {{#timeover}}disabled{{/timeover}} type="number" value="{{#p}}{{#prediction}}{{fScore1}}{{/prediction}}{{/p}}" class="form-control text-mid" min="0" max="15" placeholder="Full time goals for {{{team1Name}}}">
            <span class="input-group-addon">-</span>
            <input id='fScore2' {{#timeover}}disabled{{/timeover}} type="number" value="{{#p}}{{#prediction}}{{fScore2}}{{/prediction}}{{/p}}" class="form-control text-mid" min="0" max="15" placeholder="Full time goals for {{{team2Name}}}">
        </div>
        <div class="alert alert-danger hidden pn-toolrow" id='pn-errorDiv'></div>
        <div class="alert alert-success hidden pn-toolrow" id='pn-infoDiv'></div>
    </div>

    {{#p}}
    {{#processed}}
    <div class='col-md-12 text-mid pn-tools'>Actual Score (Your Prediction)</div>
    <div class='col-md-12 text-mid pn-tools'>             
        <div class="input-group pn-toolrow">
            <input id='ahScore1' disabled type="text" value='{{#prediction}}{{ahScore1}} ({{hScore1}}){{/prediction}}' class="form-control text-mid">
            <span class="input-group-addon">-</span>
            <input id='ahScore2' disabled type="text" value='{{#prediction}}{{ahScore2}} ({{hScore2}}){{/prediction}}' class="form-control text-mid">
        </div>
        <div class="input-group pn-toolrow">
            <input id='ahScore1' disabled type="text" value='{{#prediction}}{{afScore1}} ({{fScore1}}){{/prediction}}' class="form-control text-mid">
            <span class="input-group-addon">-</span>
            <input id='ahScore2' disabled type="text" value='{{#prediction}}{{afScore2}} ({{fScore2}}){{/prediction}}' class="form-control text-mid">
        </div>
        <div class="alert alert-danger hidden pn-toolrow" id='pn-errorDiv'></div>
        <div class="alert alert-success hidden pn-toolrow" id='pn-infoDiv'></div>
    </div>
    {{/processed}}
    {{/p}}
    <div class='col-md-12 text-mid'>
        
        <button type="button" {{#timeover}}disabled{{/timeover}} id='pn-submit' 
                {{#p}}data-show-summary='1'{{/p}} class="btn btn-primary btn-sm" data-gameid="{{id}}">
                {{^p}}Save{{/p}}{{#p}}Edit{{/p}} Prediction{{#timeover}} - Oops Too Late{{/timeover}}</button>
        <button type="button" id='pn-login' class="btn btn-primary btn-sm">Login to Predict</button>
        
    </div>
</div>
{{/game}}
