<a href="/world-cup" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-chevron-left"></span>   Matches</a>
{{#nextGame}}
<a href="/world-cup/game/{{nextGame}}" class="btn btn-default btn-sm">
    Next Match <span class="glyphicon glyphicon-chevron-right"></span></a>
{{/nextGame}}