
<h1 class='fx-title-gm pdh-15 bg mod-title'>Your statistics</h1>
<div class="panel panel-default fnt-neg">
    <!-- Default panel contents --> 
    <div class="panel-body" style='font-size: 120%; padding: 10px'>
        <span>Summary of your performance</span>
    </div>

    <!-- Table -->
    <table class="table fnt-neg table-striped">
        <tr>
            {{#leagues}}
            <th>{{name}}</th>
            {{/leagues}}
        </tr>
        <tr>
            {{#leagues}}
            <td>
                Total Score: {{points}}
            </td>
            {{/leagues}}
        </tr>
        <tr>
            {{#leagues}}
            <td>              
                Rank: {{rank}}/{{#metadata}}{{total}}{{/metadata}}             
            </td>
            {{/leagues}}
        </tr>
        <tr>
            <td colspan="2" style="color: red"> * Participate in <strong> Super 16 </strong> league by predicting last 16 matches of the world cup
        and stand a chance to win exciting prizes. Start Predicting Now!!</td>
        </tr>
    </table>
</div>

<div id='full-fixtures'>
    <h1 class='fx-title-gm pdh-15 bg mod-title'>Super 16 Games! Predict to win prizes</h1>

    <div class='fx-stage'>
        <ul class='ls-none'>
            {{#next}}
            {{>matchSummary}}
            {{/next}}
        </ul>
    </div>
    <h1 class='fx-title-gm pdh-15 bg mod-title'>Previous Games</h1>
    <div class='fx-stage'>
        <ul class='ls-none'>
            {{#prev}}
            {{>matchSummary}}
            {{/prev}}
        </ul>
    </div>
</div>