<div class='collapsibleAd collapsed' id='ad-banner'>
    <img src='http://static.playpredictopus.com/assets/img/banner.jpg'>
    <span class="label label-default ad-expand">Click to expand</span>
    <span class="label label-default ad-collapse">Click to collapse</span>
</div>
