<div class='mod-right-wrapper'>
    <div class="pdh-15 bg mod-title">Live Scores</div>
<div data-type=livescore data-id="23599" id="wgt-23599" class="tap-sport-tools pdh-15" style="width:300px; height:auto;"></div>
<div id="wgt-ft-23599" style="width:300px;">
    <p>Livescore powered by <a target="_blank" rel="nofollow" href="http://www.whatsthescore.com">WhatstheScore.com</a></p>
</div>
<style type="text/css">
    #wgt-ft-23599  {background:#222 !important;color:#FFFFFF !important;text-decoration:none !important;padding:4px 2px !important;margin:0 !important;}#wgt-ft-23599 * {font:10px Arial !important;}#wgt-ft-23599 a {color:#FFFFFF !important;}#wgt-ft-23599 img {vertical-align:bottom !important;height:15px !important;}
</style>
<script type="text/javascript" src="http://tools.whatsthescore.com/load.min.js?210">        
</script>
</div>