<div class='mod-right-wrapper'>
    <div class="pdh-15 bg mod-title">Live Scores</div>
    <div class="pdh-15">
    <div data-type=livescore data-id="27507" id="wgt-27507" class="tap-sport-tools" style="width:100%; height:auto;"></div>
    </div>
    <div id="wgt-ft-27507" style="width:296px;"><p>Livescore powered by <a target="_blank" rel="nofollow" href="http://www.whatsthescore.com">WhatstheScore.com</a></p></div><style type="text/css">#wgt-ft-27507  {background:#222 !important;color:#FFFFFF !important;text-decoration:none !important;padding:4px 2px !important;margin:0 !important;}#wgt-ft-27507 * {font:10px Arial !important;}#wgt-ft-27507 a {color:#FFFFFF !important;}#wgt-ft-27507 img {vertical-align:bottom !important;height:15px !important;}</style><script type="text/javascript" src="http://tools.whatsthescore.com/load.min.js?214"></script>
</div>
