
<div class='mod-right-wrapper'>
    <div class="pdh-15 bg mod-title">Popular Videos</div>
    <iframe width="100%" height="400" src="//www.youtube.com/embed/videoseries?list=PLyPB79Biz19f5AkBc4C-qZDvdDFa4IR10&showinfo=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="mod-right-separater"></div>
<div class='mod-right-wrapper'>
    <div class="pdh-15 bg mod-title">Latest News from FIFA</div>
    <object  width='300' height='400' id='flashLatestNews' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
        <param name='movie' value='http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en'/>
               <param name='bgcolor' value='#ffffff'/>
        <param name='quality' value='high'/>
        <param name='wmode' value='transparent'/>
        <param name='flashvars' value='lang=en'>
        <embed width='300' height='400' flashvars='lang=en' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashLatestNews' id='flashLatestNews' src=http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en type='application/x-shockwave-flash'/>
    </object>
</div>