<object  width='300' height='400' id='flashLatestNews' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
<param name='movie' value='http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en'/>
<param name='bgcolor' value='#ffffff'/>
<param name='quality' value='high'/>
<param name='wmode' value='transparent'/>
<param name='flashvars' value='lang=en'>
<embed width='300' height='400' flashvars='lang=en' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashLatestNews' id='flashLatestNews' src=http://www.fifa.com/flash/widgets/newsreader/app.swf?lang='en type='application/x-shockwave-flash'/>
</object>



