<div class='mod-right-wrapper'>
    <div class="pdh-15 bg mod-title">World Cup Standings</div>
    <div class="pdh-15">
        <div data-type=standing data-id="23800" id="wgt-23800" class="tap-sport-tools" style="width:300px; height:auto;">

        </div>
    </div>
    <div id="wgt-ft-23800" style="width:296px;">
        <p>Standings provided by <a href="http://www.whatsthescore.com/football/international/world-cup/table.html" target="_blank" rel="nofollow">
                <img src="http://medias.whatsthescore.com/upload/logo-s.png" alt="whatsthescore.com" /></a></p>
    </div>
</div>
<style type="text/css">
    #wgt-ft-23800  {background:#222 !important;color:#d7d7d7 !important;text-decoration:none !important;padding:4px 2px !important;margin:0 !important;}
    #wgt-ft-23800 * {font:10px Arial !important;}#wgt-ft-23800 a {color:#d7d7d7 !important;}
    #wgt-ft-23800 img {vertical-align:bottom !important;height:15px !important;}
</style>
<script type="text/javascript" src="http://tools.whatsthescore.com/load.min.js?208"></script>