<object  width='340' height='400' id='flashWorldCup' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
    <param name='movie' value='http://www.fifa.com/flash/widgets/fwcqualifiers/main.swf?team={{team1Code}}&lang=e'/>
    <param name='bgcolor' value='rgba(255,255,255,0.8)'/>
    <param name='quality' value='high'/>
    <param name='wmode' value='transparent'/>
    <param name='flashvars' value='lang=e&team={{team1Code}}'>
    <embed width='340' height='400' flashvars='lang=e&amp;team={{team1Code}}' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashWorldCup' id='flashWorldCup' src=http://www.fifa.com/flash/widgets/fwcqualifiers/main.swf?team={{team1Code}}&lang=e type='application/x-shockwave-flash'/>
</object>
<div style='width:100%; height: 8px;'></div>
<object  width='340' height='400' id='flashWorldCup' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
    <param name='movie' value='http://www.fifa.com/flash/widgets/fwcqualifiers/main.swf?team={{team2Code}}&lang=e'/>
    <param name='bgcolor' value='#ffffff'/>
    <param name='quality' value='high'/>
    <param name='wmode' value='transparent'/>
    <param name='flashvars' value='lang=e&team={{team2Code}}'>
    <embed width='340' height='400' flashvars='lang=e&amp;team={{team2Code}}' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashWorldCup' id='flashWorldCup' src=http://www.fifa.com/flash/widgets/fwcqualifiers/main.swf?team={{team2Code}}&lang=e type='application/x-shockwave-flash'/>
</object>
