<div class='mod-right-wrapper'>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23WorldCup+%23FIFA+%23WorldCup2014+%23Brazil2014+%23FifaWorldCup" data-widget-id="475687950122889216">Tweets about "World Cup 2014"</a>
    <script>!function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
</div>

